<h1 mat-dialog-title>Product Updated</h1>
<div mat-dialog-content>
  <p>Thank you for updating product {{data.productName }}</p>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data.productName" cdkFocusInitial>Ok</button>
</div>