<div class="product" (click)="onClick()">
  <div>
    <img [src]="product.thumbnailUrl">
  </div>
  <div>
    <h2>{{product.name}}</h2>
    <p>{{product.description}}</p>
  </div>

  <button class="btn-delete" (click)="onDelete($event)">Delete</button>
</div>