.product {
  display:flex;
  position:relative;
  box-shadow: 0.2rem 0.2rem 0.5rem #00000075;
  > div {
    padding:1rem;
  }

  .btn-delete {
    position: absolute;
    cursor: pointer;
    background: #ffb93a;
    box-shadow: 0.2rem 0.2rem 0.5rem black;
    border:none;
    bottom:1rem;
    right:1rem;
    font-size:1rem;
    padding:0.5rem 1rem;
  }
}