<div id="product_details">
  <h2>{{formModel.value.name}} Details</h2>
  <div class="image">
    <img *ngIf="image" [src]="image">
  </div>
  <form   [formGroup]="formModel"
          novalidate>
    <div>
      <label for="name">Name</label>
      <input
              formControlName="name"
              name="name"   id="name" type="text">
      <div class="error" *ngIf="formModel.get('name').touched &&
            formModel.get('name').invalid" >Name required!</div>
    </div>
    <div>
      <label for="description">Description</label>
      <textarea
              formControlName="description"
              rows=8 id="description"></textarea>
    </div>
    <div>
      <label for="price">Price</label>
      <input
             formControlName="price"
             pattern="\d+"
             id="price" type="text">
      <div class="error" *ngIf="formModel.get('price').touched &&
            formModel.get('price').invalid" >Please enter a valid price!</div>

    </div>
    <div>
      <button id="save"
              [disabled]="formModel.invalid"
              (click)="saveProduct()">Save</button>
    </div>

  </form>
</div>