app-product-details {

}
#product_details {
  position:relative;
  border: 1px solid black;
  padding:2rem 1rem 1rem;
  .image {
    width:10rem;
    height:10rem;
    margin-bottom:1rem;
    img {
      max-width:100%;
    }

  }
  h2 {
    position:absolute;
    top:-1rem;
    background:white;
    padding:0 1rem;
  }
  form > div {
    margin-bottom:2rem;
    label {
      display: block;
      margin-bottom: 0.5rem;
    }

    #name,
    #description {
      width: 100%;
    }
    input.ng-invalid.ng-touched {
      border: 2px solid red;
    }
    textarea {resize:none;}
    .error {
      position:absolute;
      color:red;
      font-weight:bold;
    }

    #save {
      padding:0.5rem 1rem;
      background:lightgreen;
      box-shadow: 0.2rem 0.2rem 0.5rem black;
      cursor: pointer;
      &[disabled] {
        background:lightgray;

      }
    }
  }

}