form {
  display:flex;
  margin-bottom: 2rem;
  @media screen and (max-width:700px) {
    padding-left:1rem;
  }
  >div { margin-right:1rem;}
  select {
    padding:1rem;
    height:2rem;
  }
  input {
    padding:0.5rem;
  }
}
#add {
  padding:0.5rem 1rem;
  background:lightgreen;
  box-shadow: 0.2rem 0.2rem 0.5rem black;
  cursor: pointer;
  &[disabled] {
    background:lightgray;

  }
}