<div>
    <form  [formGroup]="formModel">
        <div>
            <button id="add" (click)="addProduct()">Add</button>
        </div>
        <div>
            <input
                    (input)="changeFilter()"
                    formControlName="search"
                    type="text" placeholder="Search Products">
        </div>
        <div>
            <select
                    formControlName="select"
                    (change)="changeSort()">
                <option value="name">Name</option>
                <option value="recent">Recently Added</option>
            </select>
        </div>
    </form>

</div>