
.header {
  background:#38b5f1;
  width:100%;
  z-index:999;
  position:fixed;
  padding: 0.5rem 0;
  @media screen and (max-width:700px) {
    padding-left:1rem;
  }


  + .container {
    padding-top:5rem;
  }

}

.container {
  max-width:1000px;
  margin:0 auto;

}

app-products {
  width:100%;
}
.wrapper {
  display:flex;
  justify-content: space-between;
  @media screen and (max-width:700px) {
    flex-direction: column;
  }
  app-products {
    @media screen and (max-width:700px) {
      order:2;
    }
  }
  app-product-details {
    min-width:50%;
    margin-left:1rem;
    @media screen and (max-width:700px) {
      order:1;
      margin-left:0;
      padding-right:1rem;
      padding-left:1rem;
    }
  }

}
