<!--The content below is only a placeholder and can be replaced.-->
<div class="header">
    <h1 class="container">My Store</h1>
</div>
<div class="container">
    <app-products-panel></app-products-panel>
    <div class="wrapper">
        <app-products></app-products>
        <app-product-details></app-product-details>
    </div>
</div>

