<ul>
  <li *ngFor="let product of products | filterProducts: filter | sortProducts: sortBy ">
    <app-product [product]="product"
                 (deleteProduct)="onDeleteProduct($event)"
                 (displayProduct)="onDisplayProduct($event)"
    ></app-product>
  </li>
</ul>